{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>main</title>
     <link rel="shortcut icon" type="image/png" href="{% static 'instagram/img/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static "instagram/css/index.css" %}">
 </head>
 <header>
     <div class="header-style">
     <button type="button" onclick="document.location='{% url 'logout' %}'" class="btn btn-primary" id="btn-sign-in">logout</button>
 <div>
 </div>
         <form class="navbar-form navbar-left" method="GET">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="search" aria-label="Search" name="search" value="">
    </div>
 </form>
     </div>
 </header>
 <body>
   {% for post in posts %}
        <div id="row-main-post">
            <div class="col-md-3">
                <img src="{{ "media/" }}{{ post.images.first.path }}" alt=""/>
                {% for tag in post.tags.all %}
                    <p class="">{{ tag.name }}</p>
                {% endfor %}
                <p class="">{{ post.description }}</p>
                <button type="button" onclick="document.location='{{ post.absolute_url }}'" class="btn btn" id="btn-watch">подробнее</button>

            </div>

        </div>
    {% endfor %}
 </body>
</html>